.Container {
  padding: 10px 25px;
  border: 0;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.Input {
  height: 44px;
  text-indent: 10px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title {
  padding-left: 12px;
}
